.pre-footer {
	z-index: 2;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background: url("../img/2x-subscribe-decor.png") no-repeat center left/cover;

	&__container {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	&__item {
		&:first-child {
			flex: 1;
		}
	}
	&__descr {
		display: flex;
		align-items: center;
		gap: 20px;

		&-title {
			display: none;
			color: var(--white-color);
		}
		&-contacts {
			display: flex;
			flex-direction: column;
			gap: 4px;
			color: var(--white-color);

			&-link {
				color: var(--white-color);
				font-weight: 600;
			}
		}
	}
	&__subscribe {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.input-wrapper-split {
			flex-direction: column;
			gap: 8px;
		}
	}
}
@media (min-width: 992px) {
	.pre-footer {
		padding-top: 32px;
		padding-bottom: 32px;

		&__descr {
			gap: 36px;

			&-title {
				display: flex;
			}
			&-contacts {
				display: none;
			}
		}
		&__subscribe {
			&-mobile {
				display: none;
			}
			.input-wrapper-split {
				flex-direction: row;
				gap: 12px;
			}
			.input {
				min-width: 360px;
				width: 360px;
			}
		}
	}
}
@media (max-width: 991px) {
	.pre-footer {
		&__subscribe {
			form {
				display: none;
			}
		}
	}
}

.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 320px;
	margin-top: 24px;
	overflow: hidden;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	background-color: var(--surface-gray2);
	color: var(--white-color);

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__column {
		flex: 1;
	}

	&-logo {
		align-items: flex-start;
	}

	&-main {
		background-color: var(--surface-gray2);

		.footer-contacts {
			&__tel {
				display: flex;
				flex-direction: column;
				gap: 24px;

				&-caption {
					color: var(--gray3-color);
					line-height: 1.4;
				}
			}
			&__number {
				font-weight: 500;
			}
			&__email {
				color: var(--surface-yellow);
			}
		}
	}

	&__title {
		font-weight: 600;
		letter-spacing: calc(13px * 0.07);
		text-transform: uppercase;
		cursor: default;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&.social__title {
			margin-bottom: unset;
		}
	}

	&__list {
		li {
			display: flex;
		}
		a {
			display: inline-flex;
			color: var(--white-color);
			line-height: 18px;
		}
	}

	&-contacts {
		display: flex;
		flex-direction: column;

		&__tel {
			display: flex;
			flex-direction: column;

			&-caption {
				&:hover {
					color: var(--gray2-color);
				}
			}
		}
	}

	.social {
		&__list {
			li {
				display: flex;
			}
			a {
				overflow: hidden;
				border-radius: 4px;

				.icon {
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
					fill: #D9D9D9;
					stroke: #D9D9D9;
				}
			}
		}
	}

	&-bottom {
		background-color: var(--surface-gray1);

		&__content {
			display: flex;
		}
		&__info {
			color: var(--text-caption);
		}
	}

	&-logo {
		min-width: 135px;
		width: 135px;
		min-height: 30px;
		height: 30px;
	}
}
@media (min-width: 992px) {
	.footer {
		margin-top: 60px;

		&__row {
			gap: 64px;
		}

		&-main {
			padding-top: 64px;
			padding-bottom: 64px;
		}

		&__title {
			color: var(--text-caption);
			font-size: 11px;
		}

		&__list {
			li {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}

		&-contacts {
			gap: 24px;
		}

		&-bottom {
			padding-top: 64px;
			padding-bottom: 64px;

			&__content {
				flex-wrap: wrap;
				gap: 40px;
			}
			&__info {
				font-weight: 500;
			}
		}
	}
}
@media (max-width: 991px) {
	.footer {
		margin-top: 24px;

		&__row {
			gap: 32px;
		}

		&__column {
			min-width: 375px;
			width: 375px;
		}

		&-main {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		&__title {
			color: var(--text-secondary);
		}

		&__list {
			li {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}

		&-contacts {
			gap: 24px;
		}

		&-bottom {
			padding-top: 16px;
			padding-bottom: 16px;

			&__content {
				flex-wrap: wrap;
				gap: 16px;

				.logo {
					min-width: 100%;
					width: 100%;
				}
			}
			&__info {
				font-size: 12px;

				&:not(:last-child) {
					padding-bottom: 8px;
				}
			}

			.logo {

			}
		}
	}
}
