.header {
	z-index: 1000;
	min-width: 320px;
	width: 100%;

	&-container {
		display: flex;
		align-items: center;
	}

	&-top {
		&-nav {
			&__list {
				display: flex;
			}
		}
		&__link {
			display: flex;
			align-items: center;
			min-height: 16px;
			height: 16px;
			color: var(--text-secondary);
			font-weight: 600;
			font-size: 11px;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: calc(13px * 0.03);
			transition: var(--transition);

			&:hover {
				color: var(--text-primary);
			}
		}
	}

	&-contacts {
		display: flex;
		align-items: center;
		line-height: 24px;
	}

	&-social {
		.social__list {
			gap: 8px;

			li {
				line-height: 1;
			}
		}
		a {
			border-radius: 3px;
			background-color: var(--text-secondary);

			.icon {
				min-width: 15px;
				width: 15px;
				min-height: 15px;
				height: 15px;
				fill: #F5F5F5;
				stroke: #F5F5F5;
			}
		}
	}

	&-main {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		overflow: hidden;
	}

	&-catalog {
		position: relative;
		display: flex;
		display: none;
		flex: 1;
		align-items: center;
		gap: 8px;
	}

	&-search {
		position: relative;
		flex: 1;

		form {
			display: flex;
			align-items: center;
			background-color: var(--white-color);
		}
		.input-wrapper {
			display: flex;
			align-items: center;
		}
		.input {
			border: none;
			background-color: transparent;
		}
		.btn {
			border-radius: 8px;
		}
	}

	&-profile {
		&__list {
			display: flex;
			align-items: center;
		}
	}

	&-categories {
		display: flex;
		align-items: center;
		min-width: 100%;
		width: 100%;

		&__item {
			background-color: transparent;
		}
	}
}

.burger {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	width: 40px;
	min-height: 40px;
	height: 40px;
	margin-right: -4px;
	margin-left: auto;

	&:not(:last-child) {
		margin-left: auto;
	}

	.icon {
		min-width: 32px;
		width: 32px;
		min-height: 32px;
		height: 32px;
		pointer-events: none;
	}
}

.mobile-menu {
	z-index: 2000;
	position: fixed;
	flex-direction: column;
	top: 0;
	left: -100vw;
	display: flex;
	min-width: 375px;
	width: 375px;
	height: 100vh;
	overflow: auto;
	opacity: 0;
	background-color: var(--white-color);
	user-select: auto;
	transition: 0s;

	&::-webkit-scrollbar {
		width: 0;
	}
	&.active {
		left: 0;
		opacity: 1;
		transition: var(--transition);

		.mobile-menu-close {
			opacity: 1;
			pointer-events: auto;
			user-select: auto;
			cursor: pointer;
		}
	}

	&-close {
		z-index: 1;
		position: absolute;
		top: 20px;
		left: 319px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		opacity: 0;
		pointer-events: none;
		user-select: none;
		cursor: default;
		transition: var(--transition);

		.icon {
			min-width: 32px;
			width: 32px;
			min-height: 32px;
			height: 32px;
			fill: var(--text-secondary);
			stroke: var(--text-secondary);
		}
	}

	&-container {
		width: 100%;
		padding-right: 16px;
		padding-left: 16px;
	}

	&-header {
		display: flex;
		padding-top: 14px;
		padding-bottom: 14px;

		.header-contacts {
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;

			&__tel {
				font-weight: 700;
				font-size: 20px;
				text-decoration: none;
			}
		}

		.header-social {
			margin-left: auto;
		}
	}

	&-catalog {
		display: flex;

		&-spoiler {
			min-width: 291px;
			width: 291px;
			min-height: 52px;
			height: 52px;

			.icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
	}

	&-list {
		flex: 1;
		overflow-y: auto;

		/*&::-webkit {
			&-scrollbar,
			&-scrollbar-track {
				background-color: #CDD4DE;
			}
			&-scrollbar,
			&-scrollbar-track,
			&-scrollbar-thumb {
				min-width: 6px;
				width: 6px;
				border-radius: 3px;
			}
			&-scrollbar-button {
				display: none;
			}
			&-scrollbar-thumb {
				background-color: #7B8593;
			}
		}*/

		.mobile-menu__item {
			border-bottom: 1px solid var(--surface-gray5);
		}
		.mobile-menu__link {
			min-width: 100%;
		}
	}
	&__item {
		display: flex;
	}
	&__link {
		display: flex;
		flex: 1;
		align-items: center;
		gap: 12px;
		min-height: 43px;
		height: 43px;
		padding-right: 16px;
		padding-left: 16px;
		font-weight: 500;
		font-size: 11px;
		letter-spacing: calc(13px * 0.07);
		text-transform: uppercase;
		transition: var(--transition);

		.text-content {
			flex: 1;
		}
		.icon {
			min-width: 16px;
			width: 16px;
			min-height: 16px;
			height: 16px;
			fill: var(--text-secondary);
			stroke: var(--text-secondary);
		}

		&:hover,
		&:active,
		&.active {
			background-color: var(--surface-gray6);
		}
	}
}

.menu-footer {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 32px;
	padding-bottom: 32px;
}

.menu-login {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}

.menu-contacts {
	display: flex;
	justify-content: space-between;
	gap: 16px;

	.header-contacts {
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		line-height: inherit;

		&__item {
			display: flex;
			align-items: center;
			gap: 8px;

			.icon {
				min-width: 20px;
				width: 20px;
				min-height: 20px;
				height: 20px;
			}
		}
		&__tel {
			font-weight: 700;
			font-size: 16px;
		}
	}

	.social {
		&__list {
			gap: 8px;
		}
		a {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}
	}
}

.menu-catalog {
	z-index: 2000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	min-width: 375px;
	width: 375px;
	min-height: 100%;
	height: 100%;
	padding-top: 52px;
	overflow: auto;
	opacity: 0;
	background-color: var(--white-color);
	pointer-events: none;
	user-select: none;
	transition: 0s;

	&.active {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
		transition: var(--transition);
	}
	/*&,
	&-root {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track {
				background-color: #CDD4DE;
			}
			&-scrollbar,
			&-scrollbar-track,
			&-scrollbar-thumb {
				min-width: 6px;
				width: 6px;
				border-radius: 3px;
			}
			&-scrollbar-button {
				display: none;
			}
			&-scrollbar-thumb {
				background-color: #7B8593;
			}
		}
	}*/

	&-spoiler {
		.icon {
			transition: unset;
		}

		&:not(.active) {
			.menu-catalog-spoiler__icon-active {
				display: none;
			}
		}
		&.active {
			.menu-catalog-spoiler__icon {
				display: none;
			}
		}
	}

	&-header {
		z-index: 1;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		gap: 8px;
		min-width: 375px;
		width: 375px;
		padding: 6px 16px;
		background-color: var(--white-color);
	}
	&-title {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&-close {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		margin-left: auto;

		.icon {
			min-width: 32px;
			width: 32px;
			min-height: 32px;
			height: 32px;
			fill: var(--text-secondary);
			stroke: var(--text-secondary);
		}
	}

	&-root {
		flex: 1;
		min-width: 100%;
		overflow-y: auto;

		&.hide {
			display: none;
		}
		&-item {
			display: flex;
			border-top: 1px solid var(--surface-gray5);

			&:last-child {
				border-bottom: 1px solid var(--surface-gray5);
			}
			&-pointer {
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
				margin-left: auto;
			}
		}
		&-link {
			display: flex;
			flex: 1;
			align-items: center;
			gap: 12px;
			min-height: 43px;
			height: 43px;
			padding-right: 8px;
			padding-left: 16px;
			transition: var(--transition);

			.text-content {
				flex: 1;
			}
			.icon {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				fill: var(--text-secondary);
				stroke: var(--text-secondary);
			}

			&:hover,
			&:active,
			&.active {
				background-color: var(--surface-gray6);
			}
		}
	}
}

.mobile-menu-panel {
	z-index: 990;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: var(--shadow);
	background-color: var(--white-color);

	&__toolbar {
		border-top: 1px solid var(--surface-gray5);
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 375px;
		margin: 0 auto;
		padding: 4px 0;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 75px;
			width: 75px;
			min-height: 35px;
			height: 35px;
		}
	}
	.btn {
		&-header {
			min-width: 100%;
			width: 100%;
			min-height: 100%;
			height: 100%;

			&__count {
				top: 0;
				right: 20px;
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				border: 2px solid var(--white-color);
			}
		}
	}
}
@media (min-width: 1200px) {
	.header {
		.container {
			max-width: var(--header-container-width);
			padding-right: var(--header-container-offset);
			padding-left: var(--header-container-offset);
		}

		&-top {
			padding-top: 24px;
			padding-bottom: 16px;

			.header-container {
				gap: 32px;
			}
			&-nav {
				margin-right: auto;

				&__list {
					align-items: center;
					flex-wrap: wrap;
					gap: 32px;
				}
			}
			&__link {
				padding-right: 16px;
				padding-left: 16px;

				&:first-child {
					padding-left: 2px;
				}
				&:last-child {
					padding-right: 2px;
				}
			}
		}

		&-contacts {
			gap: 16px;
			font-weight: 700;
			font-size: 16px;

			&__item {
				display: flex;
				align-items: center;
				gap: 8px;

				.icon {
					min-width: 20px;
					width: 20px;
					min-height: 20px;
					height: 20px;
				}
			}
		}

		&-social {
			a {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
		}

		&-nav {
			padding-top: 16px;
			padding-bottom: 16px;

			.header-main {
				flex-wrap: wrap;
				column-gap: 24px;
				padding: 16px;
				border: 1px solid #ECECEC;
				border-radius: 16px;
				backdrop-filter: blur(24px);
				background-color: rgba(255,255,255,0.72);

				/*&::before {
					content: "";
					z-index: 1;
					position: absolute;
					inset: 0;
					background: url("../img/header-main-noise.png") no-repeat center / cover;
				}*/
			}
		}

		&-logo {
			.image {
				min-width: 175px;
				width: 175px;
				min-height: 50px;
				height: 50px;
			}
		}

		&-search {
			form {
				padding-right: 8px;
				border: 1px solid var(--surface-gray4);
				border-radius: 16px;
			}
		}

		&-categories {
			position: relative;
			display: grid;
			grid-template-columns: 142px 1fr;
			padding-top: 24px;
			padding-right: 78px;
			overflow: hidden;

			&__catalog {
				margin-right: 28px;
			}
			&__list {
				position: relative;
				display: flex;
				flex: 1;
				justify-content: space-between;
				gap: 16px;
				min-width: 100%;
				width: 100%;
				overflow: hidden;
			}
			&__item {
				padding-right: 12px;
				padding-left: 12px;

				&--more {
					z-index: 1;
					position: absolute;
					right: 0;
					bottom: 0;
					min-width: 78px;
					width: 78px;
					padding-left: 28px;
				}
			}
		}

		&.scrolled {
			position: fixed;
			top: 0;

			.header-top {
				display: none;
			}
		}
		&:not(.scrolled) {
			margin-bottom: -180px;
		}
	}

	.burger {
		display: none;
	}

	.mobile-menu,
	.menu-catalog,
	.mobile-menu-panel {
		display: none;
	}
}
@media (max-width: 1199px) {
	.header {
		&-top,
		&-profile,
		&-categories {
			display: none;
		}

		&-nav {
			padding-top: 12px;
			background-color: var(--white-color);

			.header-main {
				flex-wrap: wrap;
				gap: 12px 8px;
				overflow: visible;
			}
		}

		&-logo {
			order: 0;

			.image {
				min-width: 121px;
				width: 121px;
				min-height: 34px;
				height: 34px;
			}
		}

		&-search {
			order: 10;
			min-width: 100vw;
			width: 100vw;
			margin-right: -16px;
			margin-left: -16px;

			form {
				border-top: 1px solid var(--surface-gray5);
				border-bottom: 1px solid var(--surface-gray5);

				.btn {
					display: none;
				}
				.input {
					padding-right: 16px;
					padding-left: 16px;

					&-icon {
						min-width: 44px;
						width: 44px;
					}
				}
				.input-wrapper.has-icon-l {
					.input {
						padding-left: 44px;

						&-icon-l {
							padding-right: 12px;
							padding-left: 16px;
						}
					}
				}
				.input-wrapper.has-icon-r {
					.input {
						padding-right: 44px;

						&-icon-r {
							padding-right: 16px;
							padding-left: 12px;
						}
					}
				}
			}
		}

		.burger {
			order: 5;
		}
	}
}
