:root {
	// base
	--font-family-base: "Inter", sans-serif;
	--font-family-base2: "Manrope", sans-serif;
	--content-width: 1280px;
	--header-content-width: 1344px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--header-container-width: calc(var(--header-content-width) + (var(--header-container-offset) * 2));
	--fz: 13px;

	// colors
	--black-color: #000000;
	--white-color: #FFFFFF;

	--text-primary: #070707;
	--text-secondary: #808185; //--surface-gray3
	--text-caption: #B1B1B2;

	--surface-bg: #F5F7FA;
	--surface-brand: #FBC40A;
	--surface-gray1: #030303;
	--surface-gray2: #1E1E1E; //brand2
	--surface-gray3: #2B2D32;
	--surface-gray4: #D5D5D6;
	--surface-gray5: #EAEAEB;
	--surface-gray6: #F8F8F8;
	--surface-red: #B22B29;
	--surface-orange: #F7A039;
	--surface-yellow: #FAE74D;
	--surface-green: #41B941;
	--surface-green2: #52C652;

	--shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
	--shadow2: 0 12px 28px -16px rgba(247, 209, 57, 0.2);
	--shadow3: 0 12px 28px -16px rgba(43, 45, 50, 0.2);
	--shadow-float: 0 8px 20px -6px rgba(17, 17, 17, 0.12);
	--shadow-float2: 0 8px 12px 0 rgba(128, 129, 133, 0.16);
	--shadow-card: 0 20px 32px -8px rgba(17, 17, 17, 0.12);
	--shadow-card2: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
	--shadow-card3: 0 25px 30px -12px rgba(30, 30, 31, 0.12);


	// fancybox
	--fancybox-scrollbar-compensate: 17px;
	--fancybox-bg: rgba(0, 0, 0, 0.7);

	// transition
	--transition: 0.2s ease-out;
}
@media (min-width: 1200px) {
	:root {
		--container-offset: 110px;
		--header-container-offset: 78px;
	}
}
@media (max-width: 1199px) {
	:root {
		--container-offset: 16px;
		--header-container-offset: 16px;
	}
}
